In [1]:
import pandas as pd

In [2]:
original_data = pd.read_csv('original-data/original_data.csv')

In [3]:
training_phrases = pd.read_csv('original-data/training-phrases.csv')

In [4]:
export_word_cloud = pd.read_csv('original-data/export_word_cloud.csv', sep = ';')

In [6]:
export_word_cloud.drop("TYPE", axis = 1, inplace=True)

In [7]:
export_word_cloud.head()

         PHRASE                              FULL_TEXT
0          wifi    What's the WiFi log in and password
1          wifi    What's the WiFi log in and password
2      hospital                       Nearest hospital
3      hospital                       Nearest hospital
4  housekeeping  Why didn't housekeeping clean my room

In [8]:
training_phrases = training_phrases[['PHRASE', 'FULL_TEXT']]

In [12]:
reviews = pd.concat([training_phrases, original_data, export_word_cloud])

In [18]:
reviews[reviews['PHRASE'].isnull()]

Empty DataFrame
Columns: [PHRASE, FULL_TEXT]
Index: []

In [16]:
reviews.dropna(inplace=True)

In [17]:
reviews[reviews['FULL_TEXT'].isnull()]

Empty DataFrame
Columns: [PHRASE, FULL_TEXT]
Index: []

In [22]:
reviews.to_csv('merge-data/serged-data.csv')